<!DOCTYPE html>

<html>
    <head>
        <title>Autocomplete test</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/select2.min.js"></script>
        <script src="{{ asset('/bundles/samsonautocomplete/js/autocomplete.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('/bundles/samsonautocomplete/css/autocomplete.css') }}">
        <link rel="stylesheet" href="/css/select2.css">
    </head>
    <body>
        {{ form(form) }}
    </body>
</html>


